<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.user_servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.admin.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.admin.servlet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.user_servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>com.user_servlet.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpecialist</servlet-name>
        <servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>com.admin.servlet.AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctor</servlet-name>
        <servlet-class>com.admin.servlet.UpdateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDoctor</servlet-name>
        <servlet-class>com.doctor.servlet.LogoutDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appoint_Servlet</servlet-name>
        <servlet-class>com.user_servlet.Appoint_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointServlet</servlet-name>
        <servlet-class>com.user_servlet.AppointServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>com.doctor.servlet.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.user_servlet.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>com.user_servlet.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDoctorPassword</servlet-name>
        <servlet-class>com.doctor.servlet.ChangeDoctorPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.doctor.servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpecialist</servlet-name>
        <url-pattern>/AddSpecialist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctor</servlet-name>
        <url-pattern>/UpdateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDoctor</servlet-name>
        <url-pattern>/LogoutDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appoint_Servlet</servlet-name>
        <url-pattern>/Appoint_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointServlet</servlet-name>
        <url-pattern>/AppointServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDoctorPassword</servlet-name>
        <url-pattern>/ChangeDoctorPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
</web-app>
